In [33]:
import pandas as pd
import numpy as np
import seaborn as sns

iris = sns.load_dataset('iris')
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [34]:
##Here I am introducing some text values that cannot be parsed to numeric values
iris.iloc[1:5,0] = 'do-not-know'

iris.head(10)

  sepal_length  sepal_width  petal_length  petal_width species
0          5.1          3.5           1.4          0.2  setosa
1  do-not-know          3.0           1.4          0.2  setosa
2  do-not-know          3.2           1.3          0.2  setosa
3  do-not-know          3.1           1.5          0.2  setosa
4  do-not-know          3.6           1.4          0.2  setosa
5          5.4          3.9           1.7          0.4  setosa
6          4.6          3.4           1.4          0.3  setosa
7            5          3.4           1.5          0.2  setosa
8          4.4          2.9           1.4          0.2  setosa
9          4.9          3.1           1.5          0.1  setosa

In [47]:
#using errors = coerce changes the values to NaNs (Not a number)
iris['sepal_length'] = pd.to_numeric(iris['sepal_length'], errors = 'coerce').head(10)

print(iris.head(10))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           NaN          3.0           1.4          0.2  setosa
2           NaN          3.2           1.3          0.2  setosa
3           NaN          3.1           1.5          0.2  setosa
4           NaN          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [46]:
#This can then be followed by a dropna    
df_drop_na = iris[np.isfinite(iris['sepal_length'])]

print(df_drop_na)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa