In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(20, 6), columns=['A', 'B', 'C', 'D', 'E', 'F'])

In [3]:
df.head()

          A         B         C         D         E         F
0  0.232737  0.357331  0.902529  0.533351  0.075293  0.964116
1  0.579279  0.454150  0.609168  0.929439  0.150631  0.001983
2  0.041330  0.368658  0.197692  0.055799  0.829184  0.637629
3  0.301643  0.106785  0.473802  0.455012  0.273389  0.739678
4  0.772760  0.013882  0.393415  0.484159  0.965460  0.798322

### Dropping one column at a time

In [4]:
for i in range(len(df.columns)):
    df = df.drop(df.columns[0], axis = 1)
    print(df.head())
           
    #Train model here

          B         C         D         E         F
0  0.357331  0.902529  0.533351  0.075293  0.964116
1  0.454150  0.609168  0.929439  0.150631  0.001983
2  0.368658  0.197692  0.055799  0.829184  0.637629
3  0.106785  0.473802  0.455012  0.273389  0.739678
4  0.013882  0.393415  0.484159  0.965460  0.798322
          C         D         E         F
0  0.902529  0.533351  0.075293  0.964116
1  0.609168  0.929439  0.150631  0.001983
2  0.197692  0.055799  0.829184  0.637629
3  0.473802  0.455012  0.273389  0.739678
4  0.393415  0.484159  0.965460  0.798322
          D         E         F
0  0.533351  0.075293  0.964116
1  0.929439  0.150631  0.001983
2  0.055799  0.829184  0.637629
3  0.455012  0.273389  0.739678
4  0.484159  0.965460  0.798322
          E         F
0  0.075293  0.964116
1  0.150631  0.001983
2  0.829184  0.637629
3  0.273389  0.739678
4  0.965460  0.798322
          F
0  0.964116
1  0.001983
2  0.637629
3  0.739678
4  0.798322
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

### Dropping one column and leaving the rest and compare to baseline

In [5]:
df = pd.DataFrame(np.random.rand(20, 6), columns=['A', 'B', 'C', 'D', 'E', 'F'])

for i in range(len(df.columns)):
    df_first_slice = pd.DataFrame(df.iloc[:, 0:i])
    df_second_slice = pd.DataFrame(df.iloc[:, (i+1):len(df.columns)])
    df_subset = pd.concat([df_first_slice, df_second_slice], axis=1)
    
    print(df_subset.head())
                          
    #Train model here

          B         C         D         E         F
0  0.076322  0.621500  0.045833  0.862746  0.237298
1  0.448092  0.000131  0.478898  0.372308  0.483163
2  0.656294  0.366701  0.153566  0.161818  0.251808
3  0.478767  0.071037  0.163038  0.796614  0.746301
4  0.501680  0.743245  0.916799  0.249083  0.502985
          A         C         D         E         F
0  0.578294  0.621500  0.045833  0.862746  0.237298
1  0.100943  0.000131  0.478898  0.372308  0.483163
2  0.129281  0.366701  0.153566  0.161818  0.251808
3  0.426352  0.071037  0.163038  0.796614  0.746301
4  0.411954  0.743245  0.916799  0.249083  0.502985
          A         B         D         E         F
0  0.578294  0.076322  0.045833  0.862746  0.237298
1  0.100943  0.448092  0.478898  0.372308  0.483163
2  0.129281  0.656294  0.153566  0.161818  0.251808
3  0.426352  0.478767  0.163038  0.796614  0.746301
4  0.411954  0.501680  0.916799  0.249083  0.502985
          A         B         C         E         F
0  0.578294  0.076322  0.621500  0.862746  0.237298
1  0.100943  0.448092  0.000131  0.372308  0.483163
2  0.129281  0.656294  0.366701  0.161818  0.251808
3  0.426352  0.478767  0.071037  0.796614  0.746301
4  0.411954  0.501680  0.743245  0.249083  0.502985
          A         B         C         D         F
0  0.578294  0.076322  0.621500  0.045833  0.237298
1  0.100943  0.448092  0.000131  0.478898  0.483163
2  0.129281  0.656294  0.366701  0.153566  0.251808
3  0.426352  0.478767  0.071037  0.163038  0.746301
4  0.411954  0.501680  0.743245  0.916799  0.502985
          A         B         C         D         E
0  0.578294  0.076322  0.621500  0.045833  0.862746
1  0.100943  0.448092  0.000131  0.478898  0.372308
2  0.129281  0.656294  0.366701  0.153566  0.161818
3  0.426352  0.478767  0.071037  0.163038  0.796614
4  0.411954  0.501680  0.743245  0.916799  0.249083