In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.rand(20, 6), columns=['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
df.head()

          A         B         C         D         E         F
0  0.780637  0.788495  0.113236  0.362634  0.647907  0.027342
1  0.876445  0.283127  0.269010  0.349341  0.504621  0.926005
2  0.503063  0.187670  0.357794  0.937608  0.518110  0.214656
3  0.468016  0.518237  0.156577  0.405439  0.452699  0.637553
4  0.893198  0.759345  0.471876  0.542194  0.374493  0.874055

In [25]:
for i in range(len(df.columns)):
    df_first_slice = pd.DataFrame(df.iloc[:, 0:i])
    df_second_slice = pd.DataFrame(df.iloc[:, (i+1):len(df.columns)])
    df_subset = pd.concat([df_first_slice, df_second_slice], axis=1
    
    print(df_subset.head())
                          
    #Train model here

          B         C         D         E         F
0  0.788495  0.113236  0.362634  0.647907  0.027342
1  0.283127  0.269010  0.349341  0.504621  0.926005
2  0.187670  0.357794  0.937608  0.518110  0.214656
3  0.518237  0.156577  0.405439  0.452699  0.637553
4  0.759345  0.471876  0.542194  0.374493  0.874055
          A         C         D         E         F
0  0.780637  0.113236  0.362634  0.647907  0.027342
1  0.876445  0.269010  0.349341  0.504621  0.926005
2  0.503063  0.357794  0.937608  0.518110  0.214656
3  0.468016  0.156577  0.405439  0.452699  0.637553
4  0.893198  0.471876  0.542194  0.374493  0.874055
          A         B         D         E         F
0  0.780637  0.788495  0.362634  0.647907  0.027342
1  0.876445  0.283127  0.349341  0.504621  0.926005
2  0.503063  0.187670  0.937608  0.518110  0.214656
3  0.468016  0.518237  0.405439  0.452699  0.637553
4  0.893198  0.759345  0.542194  0.374493  0.874055
          A         B         C         E         F
0  0.780637  0.788495  0.113236  0.647907  0.027342
1  0.876445  0.283127  0.269010  0.504621  0.926005
2  0.503063  0.187670  0.357794  0.518110  0.214656
3  0.468016  0.518237  0.156577  0.452699  0.637553
4  0.893198  0.759345  0.471876  0.374493  0.874055
          A         B         C         D         F
0  0.780637  0.788495  0.113236  0.362634  0.027342
1  0.876445  0.283127  0.269010  0.349341  0.926005
2  0.503063  0.187670  0.357794  0.937608  0.214656
3  0.468016  0.518237  0.156577  0.405439  0.637553
4  0.893198  0.759345  0.471876  0.542194  0.874055
          A         B         C         D         E
0  0.780637  0.788495  0.113236  0.362634  0.647907
1  0.876445  0.283127  0.269010  0.349341  0.504621
2  0.503063  0.187670  0.357794  0.937608  0.518110
3  0.468016  0.518237  0.156577  0.405439  0.452699
4  0.893198  0.759345  0.471876  0.542194  0.374493