In [83]:
import pandas as pd

df = pd.DataFrame({'A':[1,2,3,4], 'B':['aa2f', 'fs231@', 'ffhyt6', 'hf$%2']})

In [84]:
def GetSpecialChar(x):
    special_characters = []
    for char in x:
        if char.isalpha() == False:
            special_characters.append(char)
    return special_characters

In [85]:
df['C'] = df['B'].apply(lambda x : GetSpecialChar(x))

In [86]:
df.head()

   A       B             C
0  1    aa2f           [2]
1  2  fs231@  [2, 3, 1, @]
2  3  ffhyt6           [6]
3  4   hf$%2     [$, %, 2]

In [87]:
special_characters = []
for row in df['C']:
    for char in row:
        special_characters.append(char)

In [88]:
set(special_characters)

{'$', '%', '1', '2', '3', '6', '@'}